*{
	outline: 1px red solid;
}
body {
	padding-top: 20px;
background-color: #333333;
}


/*Header*/
.logo {
	position: absolute;
	left: 20px;
}

.logo img {
	border-radius: 8px;
}

.title {
	position: relative;
	width: 40%;
	margin: 0 auto;
	font-family: verdana;
	font-size: 50px;
	font-weight: bold;
	color: white; 
	text-align: center;
}


/*Quiz Section*/
.quiz-questions {
	position: relative;
	margin-top: 180px;
	text-align: center;
	font-size: 40px;
	font-family: garamond;
	color: white;
}
.question2, .question3, .question4 {
	display: none;
}
.picture {
	overflow: hidden;
	height: 350px;
	width: 350px;
	position: relative;
	margin: 30px auto 0 auto;
}
.image1, .image2, .image3, .image4 {
height: 350px;
width: 350px;
}
.image2, .image3, .image4 {
	display: none;
}

/*Answers*/
.answers {
	height: 250px;
/*	outline: 3px green solid;*/
}
.answers1, .answers2, .answers3, .answers4 {
	display: flex;
	justify-content: space-around;
}
.answers2, .answers3, .answers4 {
	display: none;	
} 
.choice {
	cursor: pointer;
	padding: 10px;
	background-color: #0033CC;
	height: 120px;
	width: 120px;
	border-radius: 100%;
}
.selectedAnswer {
	background-color: yellow;
}
.text {
	display: inline-block;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

/*Correct/Incorrect*/
.correct, .incorrect {
	height: 200px;
	width: 500px;
	background-color: #0066FF;
	text-align: center;
	font-size: 30px;
	color: white;
	border-radius: 10px;
	position: absolute;
	margin-top: -100px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	display: none;
}
.correct-incorrect {
margin-top: 20px;
/*line-height: 90px;*/
}
.incorrect {
	display: none;
}
.ok {
	height: 70px;
	width: 70px;
	background-color: #333333;
	padding: 8px;
	border-radius: 8px;
	margin: 30px auto;
}

/*.answer-status, .answer-status .correct, .answer-status .incorrect {display: none;}
.answer-status.correct .correct {display:block;}
.answer-status.incorrect .incorrect {display:block;}*/




